body{
    background-color: gainsboro;
}
#container{
    width:750px;
    height: 450px;
    margin:70px auto;
    border:2px solid gold;
    background-color: bisque;
    
}
h2{
    color:black;
    text-align: center;
}
#projects{
    width: 650px;
    height: 250px;
    margin:0px auto;
}
ol li{
    border:0.5px dotted black;
    cursor:pointer;
    padding:5px;
    margin-bottom:5px;
}
ol li:hover{
    background-color: #6eb7d6;
}
#btnAddProject{
    margin-bottom: 5px;
}
#btnAddTask{
    margin-top: 5px;
}
#btnAddProject, #btnAddTask{
    margin-left: 620px;
    background-color: deepskyblue;
    color:gold;
    font-weight: 500;
    width: 117px;
    -moz-transition: width 0.7s;
     -webkit-transition: width 0.7s;
     border-radius: 0px 20px 0px 20px;
    -webkit-border-radius: 0px 20px 0px 20px;
    -moz-border-radius: 0px 20px 0px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
#btnAddProject:hover, #btnAddTask:hover{
    background-color: #6eb7d6;
    width: 122px;
}
#btnAddProject:active, #btnAddTask:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

